
<div class="wrapper flex top">
  <div class="home-outer">
    <%= render 'shared/posts_index', posts: @posts  %>
  </div>
  <div class="l-side sidemenu">
    <ul>
      <li><a>menu item</a></li>
      <li><a>menu item</a></li>
      <li><a>menu item</a></li>
      <li><a>menu item</a></li>
      <li><a>menu item</a></li>
    </ul>
  </div>
  <div class="r-side sidemenu">
    <ul>
      <li><a>menu item</a></li>
      <li><a>menu item</a></li>
      <li><a>menu item</a></li>
      <li><a>menu item</a></li>
      <li><a>menu item</a></li>
    </ul>
  </div>
</div>
