<footer>
  <div class="page-footer flex wrapper">
    <%= link_to image_tag("logo.png", alt: "routine", class: "footer-logo"), root_path %>
    <nav>
      <ul>
        <li><%= link_to "お問い合わせ", "" %></li>
        <li><%= link_to "ヘルプ", "" %></li>
      </ul>
    </nav>
  </div>
</footer>